<!-- Validation failure messages -->
<% if @photo.errors.any? %>
  <% @photo.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Photo #<%= @photo.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_photo/<%= @photo.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for image_url -->
      <div class="form-group">
        <label for="image_url" class="control-label">
          Image url
        </label>

        <input type="text" id="image_url" name="image_url" placeholder="Image url" class="form-control" value="<%= @photo.image_url %>">
      </div>

      <!-- Label and input for listing_id -->
      <div class="form-group">
        <label for="listing_id" class="control-label">
          Listing
        </label>

        <input type="text" id="listing_id" name="listing_id" placeholder="Listing" class="form-control" value="<%= @photo.listing_id %>">
      </div>

      <button class="btn btn-warning">
        Update Photo
      </button>
      or
      <a href="/photos/<%= @photo.id %>">Cancel</a>
    </form>
  </div>
</div>
